# MAL Credentials
MAL_CLIENT_ID=
MAL_CLIENT_SECRET=
MAL_REDIRECT_URI=http://localhost:8080/auth/mal/callback
MAL_ACCESS_TOKEN=your_mal_access_token
MAL_REFRESH_TOKEN=your_mal_refresh_token

# Crunchyroll Credentials
CRUNCHYROLL_DEVICE_ID=your_device_id
CRUNCHYROLL_ETP_RT=your_etp_rt_cookie
